<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</head>

<body>
	<h2>안녕하세요 여기는 DEPT 화면 입니다.</h2>
	
	<input id="deptno" type="text" placeholder="부서번호를 입력해주세요">
	<input id="dname" type="text" placeholder="부서이름을 입력해주세요">
	<input id="loc" type="text" placeholder="부서위치를 입력해주세요">
	<button type="button" onclick="join()">부서 추가</button>
	
	<h3>부서 삭제</h3>
	<input id="d_deptno" type="text" placeholder="부서번호를 입력해주세요">
	<button type="button" onclick="doDelete()">부서삭제</button>
	
	<h3>부서 수정</h3>
	<input id="u_deptno" type="text" placeholder="부서번호를 입력해주세요">
	<input id="u_dname" type="text" placeholder="부서이름을 입력해주세요">
	<input id="u_loc" type="text" placeholder="부서위치를 입력해주세요">
	<button type="button" onclick="doUpdate()">부서 수정</button>
	
	
	<table id="data">
  <tr>
    <th>DEPNO</th>
    <th>DNAME</th>
    <th>LOC</th>
  </tr>
</table>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
    <script type="text/javascript">
callMyAPI(); 	// 함수호출
  	
  	function callMyAPI(){
  		//ajax : 백엔드와 프론트가 통신하는 기능!
  		//type : GET == Controller에 GetMapping
  		$.ajax({
  			url:'/api/v1/dept',
  			type:'GET',
  			dataType : 'json',
  			success : function (response){
  				for(var i in response){
  					let tr = $("<tr></tr>");
  					let deptno = $("<td>"+response[i].deptno+"</td>");
  					let dname = $("<td>"+response[i].dname+"</td>");
  					let loc = $("<td>"+response[i].loc+"</td>");
  					tr.append(deptno);
  					tr.append(dname);
  					tr.append(loc);
  					$('#data').append(tr);
  				}
  				
  			}
  		});
  		
  	}

		function join(){
			var deptno = $('#deptno').val();
			var dname = $('#dname').val();
			var loc = $('#loc').val();
			
			var jsonData = {
					"deptno" : deptno,
					"dname" : dname,
					"loc" : loc
			}
			$.ajax({
				url : '/api/v1/dept/join',
				contentType : 'application/json',
				type : 'POST',
				data : JSON.stringify(jsonData),
				dataType : 'json',
				success : function (response){
					console.log(response);
					location.reload();
				}
			});
		}
		
		function doDelete(){
			var d_deptno = $('#d_deptno').val();
			
			$.ajax({
				url : '/api/v1/dept/'+d_deptno,
				type : 'DELETE',
				dataType : 'json',
				success : function (response){
					alert('부서삭제완료');
					location.reload();
				}
			});
		}
		
		function doUpdate(){
			var deptno = $('#u_deptno').val();
			var dname = $('#u_dname').val();
			var loc = $('#u_loc').val();
			
			var jsonData = {
					"deptno" : deptno,
					"dname" : dname,
					"loc" : loc
			}
			
			$.ajax({
				url : '/api/v1/dept',
				type : 'PATCH',
				contentType : 'application/json',
				data : JSON.stringify(jsonData),
				dataType : 'json',
				success : function(response){
					alert('부 서 수 정 완 료');
					location.reload();
				}
			});
		}
  	
    </script>
</html>