<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<h3>DW 회원가입</h3>
	<input id="userId" type="text" placeholder="아이디를 입력해주세요">
	<input id="userName" type="text" placeholder="고객이름을 입력해주세요">
	<input id="userPw" type="password" placeholder="비밀번호를 입력해주세요">
	<button type="button" onclick="doJoin()">회원가입</button>
	
	<h2>DW 로그인</h2>
	<input id="i_userId" type="text" placeholder="아이디를 입력해주세요">
	<input id="i_userName" type="password" placeholder="비밀번호를 입력해주세요">
	<button type="button" onclick="doLogin()">로그인</button>
	
	<h3>회원 삭제</h3>
	<input id="d_userId" type="text" placeholder="id를 입력해주세요">
	<button type="button" onclick="doDelete()">회원삭제</button>
	
	<h3>부서 수정</h3>
	<input id="u_userId" type="text" placeholder="아이디를 입력해주세요">
	<input id="u_userName" type="text" placeholder="고객이름을 입력해주세요">
	<input id="u_userPw" type="text" placeholder="비밀번호를 입력해주세요">
	<button type="button" onclick="doUpdate()">부서 수정</button>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.js"
	integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
	crossorigin="anonymous"></script>
	<script type="text/javascript">
	function doLogin(){
		var id = $('#i_userId').val();
		var pw = $('#i_userName').val();
		
		var jsonData = {
				"id" : id,
				"pw" : pw
				
			}
			
			$.ajax({
				url : '/api/v1/login',
				contentType : 'application/json',
				type : 'POST',
				data : JSON.stringify(jsonData),
				dataType : 'json',
				success : function(response) {
					console.log(response);
					if(response == 1){
						//페이지 이동 로직구현 예정
						location.href = '/users';
					}else{
						alert('아이디 혹은 비밀번호가 틀렸습니다.')
					}
				}
			})
	}
	
		function doJoin(){
			var userId = $('#userId').val();
			var userName = $('#userName').val();
			var userPw = $('#userPw').val();
			
			if(userId == ''){
				alert('ID를 입력해주세요');
				$('#userId').focus();
				return false;
			}
			
			if(userName == ''){
				alert('가입자명을 입력해주세요');
				$('#userName').focus();
				return false;
			}
			
			if(userPw ==''){
				alert('비밀번호를 입력해주세요.');
				$('#userPw').focus();
				return false;
			}
			alert('회 원 가 입 완 료 !');
			
			var jsonData = {
					"id" : userId,
					"name" : userName,
					"pw" : userPw
			}
			$.ajax({
				url : '/api/v1/users',
				contentType : 'application/json',
				type : 'POST',
				data : JSON.stringify(jsonData),
				dataType : 'json',
				success : function (response){
					console.log(response);
					location.reload();
				}
			});
		}
		
		function doDelete(){
			var d_userId = $('#d_userId').val();
			
			$.ajax({
				url : '/api/v1/Users/'+d_userId,
				type : 'DELETE',
				dataType : 'json',
				success : function (response){
					alert('회원삭제완료');
					location.reload();
				}
			});
		}
		
		function doUpdate(){
			var u_userId = $('#u_userId').val();
			var u_userName = $('#u_userName').val();
			var u_userPw = $('#u_userPw').val();
			
			var jsonData = {
					"id" : u_userId,
					"name" : u_userName,
					"pw" : u_userPw
			}
			
			$.ajax({
				url : '/api/v1/users',
				type : 'PATCH',
				contentType : 'application/json',
				data : JSON.stringify(jsonData),
				dataType : 'json',
				success : function(response){
					alert('회 원 수 정 완 료');
					location.reload();
				}
			});
		}
		
	</script>
</html>