/* func2.css */
@charset "utf-8";

.input_wrap input {
    width: 200px;
    height: 35px;
    font-size: 17px;
}

.input_wrap button {
    width: 100px;
    height: 37px;
    font-size: 15px;
}
#birthday ul{
    display: inline-block;
}
#birthday ul li{
    list-style: none;
}