/* movie.css */
@charset "utf-8";
#form{
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
.input_line{
    width: 90%;
    height: 50px;
    margin: 0 5%;
    position: relative
}
.input_line .movie{
    width: 100%;
    height: 25px;
    border: 0;
    border-bottom: 2px solid #305ee8;
    font-size: 17px;
}
.input_line label{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 17px;
}
.active~label{
    top: -15px;
    font-size: 10px;
}

button{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: 2px solid green;
    background: white;
    color: black;
}